/*===== GOOGLE FONTS =====*/

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*===== BASE =====*/
body {
    margin: 3rem 0 0 0;
    font-family: "Roboto", sans-serif;
    font-size: 0.938rem;
    font-weight: 400;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.bd-grid {
    max-width: 1024px;
    display: grid;
    grid-template-columns: 100%;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

/*===== HEADER =====*/
.header {
    width: 100%;
    height: 3rem;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0 1.5rem;
    background-color: #531c4a;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__toggle {
    font-size: 1.5rem;
    color: #fff;
    cursor: pointer;
}

/*===== NAV =====*/
@media screen and (max-width: 768px) {
    .nav {
        position: fixed;
        top: 0;
        left: -100%;
        background-color: #531c4a;
        color: #fff;
        width: 100%;
        height: 100vh;
        padding: 1.5rem 0;
        transition: 0.5s;
    }
}

.nav__close {
    position: absolute;
    right: 1.5rem;
    font-size: 1.3rem;
    padding: 0.25rem;
    background-color: #282b3a;
    border-radius: 50%;
    cursor: pointer;
}

.nav__img {
    display: flex;
    justify-content: center;
    padding-top: 0.25rem;
    margin-bottom: 0.8rem;
    width: 56px;
    height: 56px;
    background-color: #fff;
    border-radius: 50%;
    overflow: hidden;
}

.nav__img img {
    width: 46px;
}

.nav__item {
    margin: 2.5rem 0;
}

.nav__link {
    color: #fff;
}

/*Show menu*/
.show {
    left: 0;
}

/*Active menu*/
.active {
    color: #de4161;
}

/*===== FOOTER =====*/

/* The footer is fixed to the bottom of the page */
footer {
    position: fixed;
    bottom: 0;
}

@media (max-height: 800px) {
    footer {
        position: static;
    }
}

.footer-distributed {
    background-color: #531c4a;
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    font: bold 16px "Roboto", sans-serif;
    padding: 10px 50px 20px 50px;
    margin-top: 20px;
    display: inline-block;
    text-align: center;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
    display: inline-block;
    text-align: center;
    vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left {
    width: 30%;
}

.footer-distributed h3 {
    color: #ffffff;
    font: normal 20px "Roboto", sans-serif;
    margin: 0;
}

.footer-distributed .footer-left img {
    width: 170px;
}

.footer-distributed .footer-links {
    color: #ffffff;
    margin: 20px 0 12px;
    display: inline-block;
    text-align: center;
}

.footer-distributed .footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
}

.footer-distributed .footer-company-name {
    color: #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
    display: inline-block;
    text-align: center;
}

/* Footer Center */

.footer-distributed .footer-center {
    width: 35%;
}

.footer-distributed .footer-center i {
    background-color: #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer-distributed .footer-center i.envelope {
    font-size: 17px;
    line-height: 15px;
}

.footer-distributed .footer-center p {
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin: 0;
}

.footer-distributed .footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
}

.footer-distributed .footer-center p a {
    color: #f1cd3d;
    text-decoration: none;
}

/* Footer Right */

.footer-distributed .footer-right {
    width: 30%;
}

.footer-distributed .footer-company-about {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-distributed .footer-company-about p {
    line-height: 20px;
    color: #92999f;
    font-size: 13px;
    font-weight: normal;
}

.footer-distributed .footer-company-about h3 {
    display: block;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 50px;
}

/* Make Footer responsive */

@media (max-width: 880px) {
    .footer-distributed .footer-left,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right {
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }

    .footer-distributed .footer-center i {
        margin-left: 0;
    }
}

/*===== CONTACT PAGE =====*/
h1 {
    font-size: 48px;
    text-align: center;
    color: #581c48;
    padding: 29px 0 20px;
}

.main_section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main_section > img {
    width: 250px;
    max-width: 80%;
}

p {
    padding: 29px 0 20px;
    width: 70%;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

#fs-frm-inputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    max-width: 90%;
    border: 0;
}

label {
    font-weight: bold;
    color: rgb(83, 28, 74);
}

.input-bloc {
    border: 2px solid rgb(83, 28, 74);
    border-radius: 10px;
    width: 100%;
    height: 30px;
    margin-top: 5px;
    margin-bottom: 20px;
    text-align: center;
}

.input-message {
    border: 2px solid rgb(83, 28, 74);
    border-radius: 10px;
    width: 100%;
    height: 170px;
    margin-top: 5px;
    margin-bottom: 20px;
    text-align: left;
    padding: 20px;
}

#send-button {
    background-color: rgb(222, 79, 97);
    color: white;
    font-weight: bold;
    font-size: 20px;
    box-shadow: 0px 3px 8px grey;
    border-radius: 30px;
    width: 150px;
    height: 40px;
    max-width: 80%;
    border: 0;
    margin-top: 20px;
    margin-bottom: 50px;
}
