@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

.css__header > h1 {
  color: #531c4a;
  text-align: center;
  font-size: 48px;
  padding: 29px 0 20px;
}

.css__header > p {
  font-size: 17px;
  color: #000;
  padding: 0 29px;
  font-weight: 300;
  text-align: justify;
}

.css__header span {
  color: #ee5c66;
  font-weight: 700;
}

.css__header > img {
  display: flex;
  justify-content: center;
  margin: 40px auto 5px;  
  padding: 10px 50px 10px 50px;
}


h3 {
  color: #ee5c66;
}

h3,
.p2 {  
  padding: 0 40px 0 40px;
}

.css__header > h2 {
  color: #ee5c66;
  font-weight: 700;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 12%;
  font-size: 1.5rem;
}

.css__bloc .css__paragraph {
  font-size: 17px;
  color: #000;
  font-weight: 300;
  margin-left: 12%;
  margin-bottom: 5%;
  width: 70%;
}

.myBtn {
  background-color: rgb(222, 79, 97);
  color: #fff;
  font-size: 20px;
  box-shadow: 0px 3px 8px grey;
  border-radius: 30px;
  width: 150px;
  height: 40px;
  max-width: 80%;
  border: 0;
  top: 50%;
  left: 50%;
  display: block;
  margin: 50px auto 50px;
}

.css__books > img {
  display: flex;
  justify-content: center;
  padding: 10px 50px 10px 50px;
  margin: 40px auto 5px; 
}

.css__bloc > h2 {
  color: #ee5c66;
  font-weight: 700;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 12%;
  font-size: 1.5rem;
}

.books {
  padding: 30px 0 15px 0;
  display: flex;
  justify-content: space-around;
}

.p2 {
  font-weight: lighter;
  font-size: 19px;
}

.ul_html {
  display: flex;
  justify-content: center;
}
.html__iframe {
  padding: 29px 7px 10px 7px;
}
.book1 {  
  width: 120px;
  height: 150px;
}

.book2 { 
  width: 120px;
  height: 150px;
}

/*===== MEDIA QUERIES =====*/
@media screen and (min-width: 768px) {
  .books {
    display: flex;
    justify-content: center;
  }

  .book1 {
    padding: 0 50px 0 0;
    width: 220px;
    height: 200px;
  }

  .book2 {
    padding: 0 50px 0 0;
    width: 220px;
    height: 200px;
  }
  .css__header > h1 {
    padding-top: 100px;
  }
  .css__header > p {
    padding: 20px 15%;
    margin: auto;
    font-size: 19px
  }
  .videoGrid {
    display: flex;
    justify-content: center;   
  }
  .html__iframe {
    width: 450px;
    height: 250px;
  }
  h3 {
    text-align: center;
    padding-top: 10px;
  }
  .ul_html {
    padding-top: 40px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1250px) {
  .html__iframe {
    display: block;
    margin: 0 15% 0;
    height: 200px;
    width: 400px;
  }
  .videoGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 50%);
    min-width: 50%;
  }
}
