.css__h1 {
  font-size: 48px;
  text-align: center;
  color: #581c48;
  padding: 29px 0 20px;
}
.ul__titles{
  padding: 10px 50px 10px 50px;
  margin: 40px 0 5px 0;
  display: flex;
  justify-content: center;
}

.ul__css{
  display: flex;
  justify-content: center;

}
h3 {
  color: #de4f61;
  padding: 1px 0 5px;
}

.p2 {
  font-weight: lighter;
}

.css__iframe {
  padding: 29px 0 10px;
}


.p2 {
  padding: 0 40px 0 40px;
}



.books {
  padding: 30px 0 15px 0;
  display: flex;
  justify-content: space-around;
}
button {
  background-color: #de4f61;
  color: white;
  border-radius: 20px;
  width: 150px;
  height: 40px;
  border: 0;
  box-shadow: 0px 5px 10px grey;
  font-size: 16px;
  margin: 30px 0 30px 0;
  align-items: center;
}
  
  /* .tutorials_html {
    background-image: url("images/button-tutorials.png");
    background-repeat: no-repeat;
    background-size: cover;
  } */