.html__h1 {
  color: #531c4a;
  text-align: center;
  font-size: 48px;
  padding: 29px 0 20px;
}

.titles {
  display: flex;
  justify-content: center;
  padding: 40px 0 20px;
  padding: 10px 50px 10px 50px;
  margin: 40px 0 5px 0;
}

h3 {
  color: #de4f61;
  padding: 1px 0 5px;
  font-size: 20px;
}

.p2 {
  font-weight: lighter;
  font-size: 18px;
}

.html__iframe {
  padding: 29px 7px 10px 7px;
}

.ul_html {
  display: flex;
  justify-content: center;
}

button {
  background-color: #de4f61;
  color: white;
  border-radius: 30px;
  width: 250px;
  height: 50px;
  border: 0;
  box-shadow: 0px 5px 10px grey;
  font-size: 16px;
  margin: 50px auto 30px;
}

button:hover {
  background-color: rgb(224, 105, 121);
  color: #fff;
}

h3,
.p2 {
  padding: 0 40px 0 40px;
}

.pIntro {
  padding: 0 30px 0 30px;
  font-weight: lighter;
  text-align: center;
  font-size: 18px;
  text-align: justify;
  text-justify: inter-word;
  text-align-last: center;
}

.books {
  padding: 30px 0 15px 0;
  display: flex;
  justify-content: space-around;
}

/* ------ MEDIA QUERIES DESKTOP ------- */

@media screen and (min-width: 768px) {
  .html__h1 {
    padding-top: 100px;
  }

  .pIntro {
    padding: 20px 400px 40px 400px;
    font-weight: lighter;
    font-size: 20px;
    text-align: justify;
    text-justify: inter-word;
    text-align-last: center;
  }

  .videoGrid {
    display: flex;
    justify-content: center;
    /* display: grid;
        grid-template-columns: repeat(auto-fill, 25%);
        min-width: 25%; */
  }

  .html__iframe {
    width: 450px;
    height: 250px;
  }

  h3 {
    text-align: center;
    padding-top: 10px;
    font-size: 22;
  }

  .p2 {
    text-align: center;
    font-weight: lighter;
    font-size: 20px;
  }

  .ul_html {
    padding-top: 40px;
  }

  .books {
    display: flex;
    justify-content: center;
  }

  .book1 {
    padding: 0 50px 0 0;
    width: 250px;
    height: 200px;
  }

  .book2 {
    padding: 0 0 0 50px;
    width: 250px;
    height: 200px;
  }
}

/* ------ MEDIA QUERIES iPad ------- */

@media screen and (min-width: 768px) and (max-width: 1250px) {
  .videoGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 50%);
    min-width: 50%;
  }

  .html__iframe {
    display: block;
    margin: 0 15% 0;
    height: 200px;
    width: 400px;
  }

  .pIntro {
    padding: 20px 50px 40px 50px;
    font-weight: lighter;
    font-size: 19px;
    text-align: justify;
    text-justify: inter-word;
    text-align-last: center;
  }
}
