/*MAIN PAGE*/

.section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 70px;
    margin-top: 40px;
}

.section p {
    font-family: Roboto;
    font-size: 19px;
    font-style: normal;
    font-weight: 300;
    line-height: 22px;
    letter-spacing: 0em;
    width: 80%;
    max-width: 800px;
    text-align: justify;
    text-align-last: center;
}

.icon {
    height: 70px;
    width: 100px;
    border-radius: 0px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin: 30px 0px;
    transition: transform 0.2s; /* Animation */
}

.icon:hover {
    transform: scale(1.3);
}

.buttons {
    width: 80%;
    height: 80%;
    border-radius: 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
    transition: transform 0.2s;
    margin-bottom: 20px;
    margin-top: 20px;
}

/* Animation */

.button1link:hover {
    transform: scale(1.3);
}
.button2link:hover {
    transform: scale(1.3);
}
.button3link:hover {
    transform: scale(1.3);
}

.title {
    display: flex;
    justify-content: center;
    margin: 0px 10px 10px 0px;
}

.tecnology p {
    font-family: Roboto;
    font-size: 17px;
    font-style: normal;
    font-weight: 300;
    line-height: 22px;
    letter-spacing: 0em;
    margin: 20px 20px 20px 20px;
    text-align: justify;
    text-align-last: center;
}

.tecnology h2 {
    font-family: Roboto;
    font-size: 20px;
    font-style: bold;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

/* ------ MEDIA QUERIES DESKTOP ------- */

#intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 768px) {
    .section-inner .desk_img {
        display: block;
    }
    .section-inner .dino_img {
        display: none;
    }

    .container {
        display: flex;
        justify-content: space-around;
        margin-bottom: 40px;
    }

    .tecnology {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: left;
        width: 30%;
    }

    .title .desk {
        display: block;
    }
    .title .mobiletitle {
        display: none;
    }
}

@media all and (max-width: 768px) {
    .section-inner .desk_img {
        display: none;
    }
    .section-inner .dino_img {
        display: block;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .title .desk {
        display: none;
    }

    .title .mobiletitle {
        display: block;
    }

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 40px;
    }

    .tecnology {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: left;
        width: 80%;
    }
    .buttons {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .tecnology p {
        margin-bottom: 50px;
    }

    .icon {
        margin-top: 5px;
        margin-bottom: 5px;
    }
}
