body {
  font-family: "Roboto", sans-serif;
}

#quiz {
  border-radius: 5px 5px 0 0;  
  margin: auto;
  padding-top: 70px;
  padding-bottom: 70px;
  background-image: url("./images/quizBackground-iPhone.png");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: justify;
  max-width: 90%;
  height: auto;
  padding-left: 15%;
}    

.fun__quiz {
  margin-top: 5%;
  margin-bottom: 2%;
}
.fun__quiz > img {
  display: block;
  margin: 5% auto 1%;
}

.question {
  font-size: 18px;
}

.answers {
  margin-bottom: 20px;
  font-weight: 300;
  font-size: 17px;
}
.answers label {
  display: block;
}

#submit {
  font-size: 20px;
  background-color: #581c48;
  color: #fff;
  border: 0;
  padding: 10px 20px;
  cursor: pointer;
  box-shadow: 0px 3px 8px grey;
  border-radius: 30px;
  transition: all 0.3s ease;
  display: block;
  margin: 5% auto 5%;
  width: 170px;
  height: 40px;
}
#results {
  text-align: center;
}

#submit:hover {
  background-color: #70305f;
  color: #fff;
}
@media screen and (min-width: 500px) {
  #quiz {
    padding-left: 20%;
  }
}
@media screen and (min-width: 800px) {
  #quiz {
    max-width: 600px;
    height: auto;
    padding-top: 100px;
    background-image: url("./images/quizBackground.png");    
  }
}

@media screen and (min-width: 950px) {
  #quiz {
    padding-left: 10%;   
  }
}
@media screen and (min-width: 1800px) {
  #quiz {
    padding-left: 8%;    
  }
}
