body {
  font-family: "Roboto", sans-serif;
}

#quiz {
  border-radius: 5px 5px 0 0;  
  /* max-width: 90%; */
  margin: auto;
  padding-top: 70px;
  padding-bottom: 70px;
  background-image: url("./images/quizBackground-iPhone.png");
  background-repeat: no-repeat;
  background-size: cover;
  /*background-position: center; */
  max-width: 100%;
  height: auto; 
}

.fun__quiz {  
  margin-top: 5%;
  margin-bottom: 2%;
}
.fun__quiz > img {
  display: block;
  margin: 5% auto 1%;
}

.question {
  margin-left: 20%;
  font-size: 19px;
  color: rgb(216, 203, 203);
}

.answers {
  margin-bottom: 20px;
  font-weight: 300;
  font-size: 18px;
}
.answers label {
  display: block;
  margin-left: 20%;
  color: rgb(221, 212, 212);
}
#submit {
  font-size: 20px;
  background-color: #581c48;
  color: #fff;
  border: 0;
  padding: 10px 20px;
  cursor: pointer;
  /*  margin-bottom: 20px;
  margin-top: 2%; */
  box-shadow: 0px 3px 8px grey;
  border-radius: 30px;
  max-width: 80%;
  transition: all 0.3s ease;
  display: block;
  margin: 5% auto 5%;
}
#results {
  text-align: center;
}

#submit:hover {
  background-color: #70305f;
  color: #fff;
}

@media screen and (min-width: 768px) {
  #quiz {
    max-width: 800px;
    height: auto;    
    padding-top: 100px;
    background-image: url("./images/quizBackground.png");
  }
} 

/* @media screen and (min-width: 768px) and (max-width: 1250px) {
  #quiz {
    max-width: 500px;
    padding-top: 2%;
    padding-bottom: 0%;   
  }
} */
/* @media screen and (min-width: 768px) {
  #quiz {
    max-width: 800px;
    height: auto;    
    background-image: url("./images/quizBackground.png");
  }
}  */