/*===== GOOGLE FONTS =====*/

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*===== BASE =====*/
body {
    margin: 3rem 0 0 0;
    font-family: "Roboto", sans-serif;
    font-size: 0.938rem;
    font-weight: 400;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.bd-grid {
    max-width: 1024px;
    display: grid;
    grid-template-columns: 100%;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

/*===== HEADER =====*/
.header {
    width: 100%;
    height: 3rem;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0 1.5rem;
    background-color: #531c4a;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__toggle {
    font-size: 1.5rem;
    color: #fff;
    cursor: pointer;
}

/*===== NAV =====*/
@media screen and (max-width: 768px) {
    .nav {
        position: fixed;
        top: 0;
        left: -100%;
        background-color: #531c4a;
        color: #fff;
        width: 100%;
        height: 100vh;
        padding: 1.5rem 0;
        transition: 0.5s;
    }
}

.nav__close {
    position: absolute;
    right: 1.5rem;
    font-size: 1.3rem;
    padding: 0.25rem;
    background-color: #282b3a;
    border-radius: 50%;
    cursor: pointer;
}

.nav__img {
    display: flex;
    justify-content: center;
    padding-top: 0.25rem;
    margin-bottom: 0.8rem;
    width: 56px;
    height: 56px;
    background-color: #fff;
    border-radius: 50%;
    overflow: hidden;
}

.nav__img img {
    width: 46px;
}

.nav__item {
    margin: 2.5rem 0;
}

.nav__link {
    color: #fff;
}

/*Show menu*/
.show {
    left: 0;
}

/*Active menu*/
.active {
    color: #de4161;
}

/*===== MEDIA QUERIES =====*/
@media screen and (min-width: 768px) {
    body {
        margin: 0;
        font-size: 1.5rem;
    }
    .header {
        height: calc(3rem + 1rem);
    }
    #nav-close,
    .header__toggle {
        display: none;
    }
    .nav {
        width: 100%;
    }
    .nav__content {
        grid-template-columns: repeat(3, max-content);
        grid-template-rows: 1fr;
        justify-content: space-between;
    }
    .nav__image img {
        display: none;
    }
    .nav__img {
        display: none;
    }
    .nav__list {
        display: flex;
    }
    .nav__item {
        margin: 0 0.25rem;
    }
    .nav__link {
        padding: 0.5rem 0.8rem;
        border-radius: 0.25rem;
    }
    .nav__link:hover {
        background-color: #f1cd3d;
    }
    .active {
        color: #de4161;
    }
    .bd-grid {
        display: flex;
        justify-content: space-between;
    }
}

@media screen and (min-width: 1024px) {
    .bd-grid {
        display: flex;
        justify-content: space-between;
    }
}

/*===== FOOTER =====*/

/* The footer is fixed to the bottom of the page */
footer {
    bottom: 0;
}

.footer {
    background-color: #531c4a;
    width: 100%;
    font: bold 16px "Roboto", sans-serif;
    display: inline-block;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0px;
    padding: 5px 5px 5px 5px;
}

.footer f {
    padding: 10px 10px 10px 10px;
    margin: 10px 30px 10px 30px;
}

.footer .footer-left,
.footer .footer-center,
.footer .footer-right,
.footer .footer-bottom {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    margin-top: 10px;
}

/* Footer left */

.footer .footer-left {
    width: 30%;
}

.footer .footer-left img {
    width: 170px;
}
.buttons {
    width: 70%;
    height: 70%;
    border-radius: 0px;
    display: flex;
}
.nav__item {
    margin: 0 0.25rem;
}
.nav__link {
    padding: 0.5rem 0.8rem;
    border-radius: 0.25rem;
}
.nav__link:hover {
    background-color: #f1cd3d;
}
.active {
    color: #de4161;
}
.bd-grid {
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
}
.title {
    width: 500px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
}

.footer .footer-links {
    color: #ffffff;
    display: inline-block;
    text-align: center;
    margin-bottom: 0px;
}

.footer .footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
}

/* Footer Center */

.footer .footer-center {
    width: 35%;
}

.footer .footer-center .footer-description {
    margin-left: 30px;
    margin-right: 30px;
}

.footer .footer-center .footer-description f {
    display: inline-block;
    vertical-align: middle;
    line-height: 20px;
    color: #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0px 5px 10px 5px;
}

/* Footer Right */

.footer .footer-right {
    width: 30%;
}

.footer .footer-right .footer-about {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section {
    font-family: Roboto;
    font-size: 17px;
    font-style: normal;
    font-weight: 300;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;
}
.icon {
    height: 92px;
    width: 92px;
    left: 141px;
    top: 902px;
    border-radius: 0px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transition: transform 0.2s; /* Animation */
}

.icon:hover {
    transform: scale(1.5);
}

.buttons {
    width: 70%;
    height: 70%;
    border-radius: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    transition: transform 0.2s; /* Animation */
}

.buttons:hover {
    transform: scale(1.2);
}
.nav__buttonslink {
    background-color: white;
}

.title {
    display: flex;
    justify-content: center;
    margin: 0px 10px 10px 0px;
}

.dino_img {
    margin: auto;
    transition: all 1s ease-in-out;
}
#dino_img:hover {
    transform: scale(2);
}
.section p {
    margin: 50px 80px 80px 50px;
}
.section h2 {
    margin-top: 30px;
    margin-bottom: 30px;
}

.title {
    width: 500px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
}

.footer .footer-right .footer-about h3 {
    display: block;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    margin-top: 0px;
}

.footer .footer-right .footer-about f {
    line-height: 20px;
    color: #92999f;
    font-size: 13px;
    font-weight: normal;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 5px;
    padding-bottom: 10px;
}

.footer .footer-right .footer-about f a {
    color: #f1cd3d;
    text-decoration: none;
}

.footer .footer-right .nav__list {
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer .footer-right .nav__list .nav__name {
    color: #92999f;
    font-size: 13px;
    padding-right: 10px;
    text-align: start;
    white-space: nowrap;
}
.footer .footer-right .nav__list .nav__item {
    margin: 15px;
    text-align: center;
    white-space: nowrap;
}

.footer .footer-right .nav__list .nav__item img {
    height: 17px;
    padding-left: 10px;
    padding-right: 10px;
}

/* Footer Bottom */

.footer .footer-bottom {
    width: 90%;
}

.footer .footer-bottom .footer-copyright {
    color: #8f9296;
    font-size: 14px;
    font-weight: normal;
    text-align: center;
}
/* Make Footer responsive */

@media (max-width: 880px) {
    .footer .footer-left,
    .footer .footer-center,
    .footer .footer-right {
        display: block;
        width: 100%;
        margin-bottom: 10px;
        text-align: center;
    }

    .footer .footer-center f {
        margin-left: 0;
    }
}

/*===== MODAL =====*/

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 0px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    max-width: 500px;
    font-family: Roboto;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Modal Header */
.modal-header {
    background-color: #de4161;
    color: white;
    font-size: 17px;
    padding: 10px 10px;
    font-family: Roboto;
}

/* Modal Body */
.modal-body {
    padding: 10px 16px;
    font-size: 15px;
}

/* Modal Footer */
.modal-footer {
    padding: 5px 5px;
    background-color: #de4161;
    color: white;
    text-align: center;
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    animation-name: animatetop;
    animation-duration: 0.4s;
}

.subscribe-btn {
    padding: 5px 0px;
    font-family: Roboto;
    font-style: color #de4161;
    border-radius: 10px;
    width: 150px;
}

.email-address {
    padding: 7px;
    margin: 10px;
    width: 60%;
    max-width: 300px;
}

.modal-fs-frm-inputs {
    border: none;
}

/* Add Animation */
@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0;
    }
    to {
        top: 0;
        opacity: 1;
    }
}

/*===== MAIN PAGE =====*/

.section {
    font-family: Roboto;
    font-size: 17px;
    font-style: normal;
    font-weight: 300;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;
}
.icon {
    height: 92px;
    width: 92px;
    left: 141px;
    top: 902px;
    border-radius: 0px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.button {
    width: 62px;
    height: 62px;
    border-radius: 0px;
    display: block;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

/*.section-tecnology {
  font-family: Roboto;
font-size: 17px;
font-style: normal;
font-weight: 300;
line-height: 22px;
letter-spacing: 0em;
text-align: center;
}
.section-tutorials {
  font-family: Roboto;
font-size: 17px;
font-style: normal;
font-weight: 300;
line-height: 22px;
letter-spacing: 0em;
text-align: center;
}
*/
